@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Oswald:300|Roboto:400,100,300);
.split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: strech;
}
.split p {
  flex-basis: 100%;
}
@media screen and (min-width: 767px) {
  .split p {
    flex-basis: 48%;
  }
}

nav.social {
  display: inline-block;
  padding: 0;
  margin-bottom: 18px;
}
nav.social li {
  list-style: none;
  float: left;
}
nav.social li a {
  padding: 5px;
}
nav.social li:first-child a {
  padding-left: 0;
}

.container {
padding: 5rem 0 0 0 ; 
}
.container .inner {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #EEE;
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
}
.comparison-slider-wrapper .comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  border: 5px white solid;
  box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
  width: 100%;
  height: auto;
  display: block;
}
.comparison-slider-wrapper .comparison-slider .overlay {
  display: none;
  position: absolute;
  width: 250px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  color: #DDD;
  text-align: right;
}
@media screen and (min-width: 767px) {
  .comparison-slider-wrapper .comparison-slider .overlay {
    display: block;
  }
}
.comparison-slider-wrapper .comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .resize > img {
  display: block;
}
.comparison-slider-wrapper .comparison-slider .resize .overlay {
  right: auto;
  left: 20px;
  text-align: left;
}
.comparison-slider-wrapper .comparison-slider .divider {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -9px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -14px;
  margin-top: -15px;
}
.comparison-slider-wrapper .comparison-slider .divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -9px;
  margin-top: -10px;
  background-color: #555;
}
.comparison-slider-wrapper .caption {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
}

.suppoprt-me {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
}
.suppoprt-me img {
  width: 100%;
  height: auto;
}
.slider {
  background: #333;
  height: 400px;
  width: 100%;
}

#logo {
  background: #ccc;
  width: 150px;
  height: 70px;
}

.navbar-toggler {
  margin-top: 15px;
}

@media screen and (min-width: 992px) {
  .navbar {
      height: 130px;
   }
  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-right: 75px;
  }
  #nav-left {
    padding-left: 30px;
  }
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
    font-family: 'Oswald', sans-serif;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
    font-family: 'Oswald', sans-serif;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

.yellow{
    color: #FFE42F; 
}
.titulo:hover{
    color: #ccc; 
}
.col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-top: 100px; 
}
.biblio{
    padding: 6rem 3rem 0 3rem; 
}

.biblioP{
    font-size: 10px
}
.cambio{
    width: 634px!important; 
}
.cambio2{
    width: 820.656px!important; 
}
.cambio3{
    width: 471.656px!important; 
}
.cambio4{
    width: 798.656px!important; 
}
.cambio5{
    width: 936px!important; 
}

.cambio6{
    width: 1200px!important; 
}
.cambio7{
    width: 1068.656px!important; 
}
.cambio8{
    width: 1088.656px!important; 
}
.cambio9{
    width: 594.656px!important; 
}
.cambio10{
    width: 805px!important; 
}
.cambio11{
    width: 698.656px!important; 
}
.cambio12{
    width: 557.656px!important; 
}
.cambio13{
    width: 765.656px!important; 
    
}
.cambio14{
    width: 811.656px!important; 
}
.cambio15{
    width: 637.656px!important; 
}
.cambio16{
    width: 711.656px!important; 
}
.cambio17{
    width: 878.656px!important; 
}
.cambio18{
    width: 734px!important; 
}

.cambio21{
    width: 564.656px!important; 
}
.cambio22{
    width: 780.656px!important; 
}
.cambio23{
    width: 750px!important; 
}
.cambio24{
    width: 1000.656px!important; 
}
@media screen and (min-width: 1300px){
    .cambio9{
        width: 894.656px!important; 
    }
}
